# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables / secrets
.env
.env.*

# Database files
*.sqlite
*.sqlite3
*.db

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
# Large datasets
data/
